<!-- Template Driven Forms -->

<!-- 
<form (ngSubmit)="onSubmit()" #form="ngForm">

 <div ngModelGroup="personalData">
  <div>
    <label> Name </label>
    <input type="text" name="name" ngModel required #firstName="ngModel">
  </div>
  <span *ngIf="firstName.touched && !firstName.valid" ><i> Name is required!!</i></span>

  <div>
    <label> Email </label>
    <input type="text" name="email" ngModel required email>
  </div>

  <div>
    <label> Year of Study</label>
    <br>
    <label *ngFor="let year of years">
      <input type="radio" required ngModel name="year" value={{year}}>
      {{year}}
      <br>
    </label>
  </div>
 </div>

  <div>
    <label> Language </label>
    <select name="language" ngModel required>
      <option value="" disabled selected>Pick a Language</option>
      <option *ngFor="let language of languages" value={{language}}>{{language}}</option>
    </select>

  <input type="submit" value="Submit" [disabled]="form.invalid">    
  </div>


</form>


<button (click)="prepopulate()"> Pre-populate</button> 
-->


<!-- Reactive Forms -->


<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <div formGroupName="personalData">
    <div>
      <label> Name </label>
      <input type="text" [formControlName]="'name'" >
    </div>
    <div *ngIf="form.get('personalData.name')?.touched && !form.get('personalData.name')?.valid" >
      <p *ngIf="form.get('personalData.name')?.hasError('unallowedName')">Name is not Allowed !!!</p>
    </div>

    <div>
      <label> Email </label>
      <input type="text" formControlName="email">
      <div *ngIf="form.get('personalData.email')?.touched && !form.get('personalData.email')?.valid">
        <p *ngIf="form.get('personalData.email')?.hasError('required')"> Email is required!! </p>
        <p *ngIf="form.get('personalData.email')?.hasError('email')"> Email is not valid </p>
      </div>
    </div> 
  
    <div>  
      <label> Year of Study</label>
      <br>
      <label *ngFor="let year of years">
        <input type="radio" value="{{year}}" formControlName="year">
        {{year}}
        <br>
      </label>
    </div>
  </div>
  
  <div>
    <label> Language </label>
    <select formControlName="language">
      <option value="" disabled selected>Pick a Language</option>
      <option *ngFor="let language of languages" [value]="language">{{language}}</option>
    </select>
  </div>

  <label> Your Skills</label>
  <button type="button" (click)="addControl()"> Add Skill</button>
  <div formArrayName="skills">
    <div *ngFor="let control of getControl(); let id=index">
      <p>{{id}}</p>
      <input type="text" [formControlName]="id"/>
      <button type="button" (click)="delete(id)">X</button>
    </div>
  </div>

  <input type="submit" value="Submit">
  
</form>

<!-- <button (click)="prepopulate()"> Pre-populate</button> -->
